{% extends "layout.html" %}

{% block title %}JS Rocks{% endblock %}

{% block content %}
                <section class="posts-list">
                    <div class="row">

                        {% for post in posts %}
                            {% if loop.index < 3 %}
                                <article class="col-sm-6 col-xs-12 post-big item-post post-fade-{{loop.index}}">
                            {% else %}
                                <article class="col-md-4 col-sm-6 col-xs-12 post-normal item-post post-fade-{{loop.index}}">
                            {% endif %}

                                <div class="container-post">
                                    <aside class="share-post">
                                        <a href="#" data-provider="https://www.facebook.com/sharer.php?u=" data-post-url="/{{post.link}}" class="share-face share-item" title="Share this post"><img src="/images/icon-face-header.png" alt="icon facebook"></a>
                                        <a href="#" data-provider="https://twitter.com/intent/tweet?text=" data-post-url="/{{post.link}}" class="share-twitter share-item" title="Tweet this post"><img src="/images/icon-twitter-header.png" alt="icon twitter"></a>
                                    </aside>
                                    <div class="date-post">{{ post.date }}</div>
                                    <h1 class="title-post"><a href="/{{ post.link }}" alt="{{ post.title }}">{{ post.title }}</a></h1>

                                    <div class="intro-post"> {{post.content}} </div>


                                    <section class="footer-post">
                                        <ul class="tags-post">
                                            {% for category in post.categories %}
                                                <li class="item-tag-post" data-post-category="{{ category }}">
                                                    <a href="/categories/{% if post.default_lang %}{{ post.lang }}/{% endif %}{{ category | lower | trim }}">{{category}}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <div class="author-post">
                                            <div class="avatar-author"><img src="{{ post.authorPicture }}" alt="{{ post.authorName }}"></div>
                                             <div class="info-author">
                                                <span>Posted by</span>
                                                <a href="{{ post.authorLink }}" class="author" alt="Author: {{ post.authorName }}">{{ post.authorName }}</a>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </article>
                        {% endfor %}

                        <div id="containerMorePosts"> <!-- More posts --> </div>

                    </div>
                    <div class="row row-more-posts">
                        <div class="col-md-12 more-posts">
                            <button id="morePosts" class="button-post button-more-posts">
                                <img class="icon-more" src="/images/icon-button-more.png" alt="icon more posts">
                                <span>More Posts</span>
                            </button>
                        </div>
                    </div>
                </section>
                <section class="testemonials">
                    <div class="row">
                        <div class="col-md-12 title-testemonials">
                            <div class="centering">
                                <img class="icon-testemonials" src="/images/icon-title-testemonials.png" alt="icon testemonials">
                                <h2>TESTIMONIALS</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="list-testemonials">
                            <div class="centering">

                                <div class="col-md-4 item-testemonial">
                                    <div class="txt-testemonial">
                                        <p>"ES6 improves developer ergonomics massively and jsrocks.org will help you grok the benefit you can reap and how to get it today. Love it."</p>
                                        <div class="arrow-talk"></div>
                                    </div>
                                    <div class="author-testemonial">
                                        <div class="avatar-testemonial"><img src="/images/testimonials/paulirish.jpeg" alt="image testemonial"></div>
                                        <div class="info-author">
                                            <h3 class="author">Paul Irish</h3>
                                            <div class="social-list">
                                                <a href="http://twitter.com/paul_irish" class="item-social"><img src="/images/icon-twitter-header.png" alt="icon twitter" title="Twitter"></a>
                                                <a href="http://github.com/paulirish" class="item-social"><img src="/images/icon-github-header.png" alt="icon github" title="Github"></a>
                                            </div>
                                            <span class="work-place">Google</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 item-testemonial">
                                    <div class="txt-testemonial">
                                        <p>"JS Rocks is a brilliant initiative, if you're looking for relevant content about what's coming next for the JavaScript language, here's the place to find."</p>
                                        <div class="arrow-talk"></div>
                                    </div>
                                    <div class="author-testemonial">
                                        <div class="avatar-testemonial"><img src="/images/testimonials/zenorocha.jpeg" alt="image testemonial"></div>
                                        <div class="info-author">
                                            <h3 class="author">Zeno Rocha</h3>
                                            <div class="social-list">
                                                <a href="http://twitter.com/zenorocha" class="item-social"><img src="/images/icon-twitter-header.png" alt="icon twitter" title="Twitter"></a>
                                                <a href="http://github.com/zenorocha" class="item-social"><img src="/images/icon-github-header.png" alt="icon github" title="Github"></a>
                                            </div>
                                            <span class="work-place">Liferay</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
{% endblock %}
ss="work-place">Liferay</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
{% endblock %}
